---
layout: archive
title: "Personal life"
permalink: /portfolio/
author_profile: true
---

## Graduation Speech
<img src="/images/Xuetang.png" alt="Graduation ceremony speech" width="70%">

## With my girlfriend
<img src="/images/Cat1.png" alt="Photo 1" width="60%">
<center class='img'>
  <img src="/images/Cat2.png" width="45%" alt="Photo 2">
  <img src="/images/Cat3.png" width="45%" alt="Photo 3">
</center>

## Music Performances
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

