---
layout: archive
title: "Personal Life"
permalink: /portfolio/
author_profile: true
---

<h2>Graduation Speech</h2>
<img src="/images/Xuetang.png" alt="Graduation ceremony speech" width="90%">

<h2>With Girlfriend</h2>
<center class='img'>
  <img src="/images/Cat1.png" alt="Photo 1" width="90%">
</center>
<center class='img'>
  <img src="/images/Cat4.png" width="90%" alt="Photo 2">
</center>
<center class='img'>
  <img src="/images/Cat5.png" width="90%" alt="Photo 3">
</center>

<h2>Music Performances</h2>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

