---
layout: archive
title: "Personal life"
permalink: /portfolio/
author_profile: true
---

<h2>Graduation Speech</h2>
<img src="/images/Xuetang.png" alt="Graduation ceremony speech" width="70%">

<h2>With my girlfriend</h2>
<img src="/images/Cat1.png" alt="Photo 1" width="90%">
<center class='img'>
  <img src="/images/Cat2.png" width="45%" alt="Photo 2">
  <img src="/images/Cat3.png" width="45%" alt="Photo 3">
</center>

<h2>Music Performances</h2>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

