---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

## Upcoming Talks

{% assign futuretalks = site.talks | where_exp: "item", "item.date > site.time" | sort: "date" %}
{% for post in futuretalks %}
  {% include archive-single-talk.html %}
{% endfor %}

---

## Past Talks

{% assign pasttalks = site.talks | where_exp: "item", "item.date <= site.time" | sort: "date" | reverse %}
{% for post in pasttalks %}
  {% include archive-single-talk.html %}
{% endfor %}
